.m-columns {
	--_grid-row-gap: var(--grid-column-gap);
	--padding-top: 5rem;
	--padding-bottom: 5rem;

	&__column {
		grid-column: calc(var(--column-offset) + 1) / span var(--column-count);

		@include screenDown('tablet-portrait') {
			grid-column: 1 / -1;
		}

		&--text {
			display: flex;
			flex-direction: column;
			gap: var(--user-html-content-gap);

			[data-featured] {
				color: var(--_feature-color, var(--feature-color));
			}
		}
	}

	&__heading {
		padding-bottom: 1rem;
	}
}