.m-columns {
	--_grid-row-gap: var(--grid-column-gap);

	&__column {
		grid-column: calc(var(--column-offset) + 1) / span var(--column-count);
		// overflow: hidden; - not sure if removing this will cause issues. 

		@include screenDown('tablet-portrait') {
			grid-column: 1 / -1;
		}
	}
}