.m-text-image {

	--margin-block: 0;
	--padding-top: 6.25rem;
	--padding-bottom: 6.25rem;

	&[data-layout="media-first"] {
		--media-grid-column: 1 / 2;
		--content-grid-column: 2 / 3;
		--content-padding-left: 5rem;
		--content-padding-right: 0;
	}

	&[data-layout="text-first"] {
		--content-grid-column: 1 / 2;
		--media-grid-column: 2 / 3;
		--content-padding-left: 0;
		--content-padding-right: 5rem;
	}

	&[data-has-border] {

		--content-padding-left: 4rem;
		--content-border: 0.5rem solid var(--_feature-color, var(--feature-color));
	}

	&[data-alignment="center"] {
		--_margin-block: auto;
	}

	&__content-lockup {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
	}

	&__text-lockup {
		grid-column: var(--content-grid-column);
		grid-row: 1 / 2;
		margin-block: var(--_margin-block, var(--margin-block));
		display: flex;
		flex-direction: column;
		gap: var(--user-html-content-gap);
		padding-left: var(--content-padding-left);
		padding-right: var(--content-padding-right);
		border-left: var(--content-border);
	}

	&__media-lockup {
		grid-column: var(--media-grid-column);
		grid-row: 1 / 2;
	}

	&__heading {
		padding-bottom: 1rem;
	}

	&__sub-heading {
		color: var(--_feature-color, var(--feature-color));
	}
}