/*

Provides core styling for things like column layouts and basic spacing. Use this if you
are NOT using the Gravity Forms 'Orbital' theme and are styling from scratch. Update as
needed.

*/





.gform_wrapper {
	--gf-ctrl-border-width: 0.03125rem;

	--gf-ctrl-bg-color: var(--color-lighter-gray);
	--gf-local-border-color: var(--gf-ctrl-bg-color, currentColor);
	--gf-local-placeholder-color: var(--color-gray);

	--gf-local-appearance: var(--gf-ctrl-appearance);
	--gf-local-bg-color: var(--gf-ctrl-bg-color);
	--gf-local-height: var(--gf-ctrl-size);
	--gf-local-radius: var(--gf-ctrl-radius, 2px);
	--gf-local-border-width: var(--gf-ctrl-border-width, 1px);
	--gf-local-border-style: var(--gf-ctrl-border-style, solid);
	--gf-local-border-block-start: var(--gf-local-border-width) var(--gf-local-border-style) var(--gf-local-border-color);
	--gf-local-border-block-end: var(--gf-local-border-width) var(--gf-local-border-style) var(--gf-local-border-color);
	--gf-local-border-inline-start: var(--gf-local-border-width) var(--gf-local-border-style) var(--gf-local-border-color);
	--gf-local-border-inline-end: var(--gf-local-border-width) var(--gf-local-border-style) var(--gf-local-border-color);
	--gf-local-shadow: var(--gf-ctrl-shadow);
	--gf-local-color: var(--gf-ctrl-color);
	--gf-local-display: block;
	--gf-local-font-family: var(--gf-ctrl-font-family);
	--gf-local-font-size: var(--gf-ctrl-font-size);
	--gf-local-font-style: var(--gf-ctrl-font-style);
	--gf-local-font-weight: var(--gf-ctrl-font-weight);
	--gf-local-letter-spacing: var(--gf-ctrl-letter-spacing);
	--gf-local-line-height: var(--gf-ctrl-line-height);
	--gf-local-min-height: auto;
	--gf-local-outline: var(--gf-ctrl-outline);
	--gf-local-outline-offset: var(--gf-ctrl-outline-offset);
	--gf-local-padding-x: var(--gf-ctrl-padding-x, 0.5rem);
	--gf-local-padding-y: var(--gf-ctrl-padding-y, 0.5rem);
	--gf-local-transition: var(--gf-ctrl-transition);
	--gf-local-width: 100%;
	--gf-local-row-gap: var(--gf-row-gap, 1rem);
	--gf-local-column-gap: var(--gf-column-gap, 1rem);

	--gf-local-label-gap: #{rem(8)};
}

.gform_fields {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	gap: var(--gf-local-row-gap) var(--gf-local-column-gap);

	fieldset {
		border: none;
		display: block;
		margin: 0;
		padding: 0;
	}
}


.gfield_visibility_hidden,
.gf_invisible {
	inset-inline-start: -9999px;
	position: absolute;
	visibility: hidden;
}


.gfield {
	grid-column: 1 / -1;
	min-inline-size: 0;

	@include screenUp('tablet-portrait') {
		&--width-quarter {
			grid-column: span 3;
		}

		&--width-third {
			grid-column: span 4;
		}

		&--width-half {
			grid-column: span 6;
		}
	}

	input[type],
	textarea {
		border-width: var(--gf-local-border-width);
		border-color: var(--gf-local-border-color);
		border-style: var(--gf-local-border-style);
		appearance: var(--gf-local-appearance);
		background-color: var(--gf-local-bg-color);
		block-size: var(--gf-local-height);
		border-block-end: var(--gf-local-border-block-end);
		border-block-start: var(--gf-local-border-block-start);
		border-inline-end: var(--gf-local-border-inline-end);
		border-inline-start: var(--gf-local-border-inline-start);
		border-radius: var(--gf-local-radius);
		box-shadow: var(--gf-local-shadow);
		display: var(--gf-local-display);
		font-family: var(--gf-local-font-family);
		font-size: var(--gf-local-font-size);
		font-style: var(--gf-local-font-style);
		font-weight: var(--gf-local-font-weight);
		inline-size: var(--gf-local-width);
		letter-spacing: var(--gf-local-letter-spacing);
		line-height: var(--gf-local-line-height);
		margin-block: 0;
		margin-inline: 0;
		min-block-size: var(--gf-local-min-height);
		outline: var(--gf-local-outline);
		outline-offset: var(--gf-local-outline-offset);
		padding-block: var(--gf-local-padding-y);
		padding-inline: var(--gf-local-padding-x);
		transition: var(--gf-local-transition);
		font-family: "proxima-nova", sans-serif;
		font-size: var(--type-size-small);
		line-height: var(--type-line-height-small);
		font-weight: 400;
		color: var(--color-black);

		&::placeholder {
			color: var(--gf-local-placeholder-color);
		}

		.small {
			inline-size: 33%;
		}

		.medium {
			inline-size: 66%;
		}

		.large {
			inline-size: 100%;
		}
	}

	select {
		border-style: var(--gf-local-border-style);
		// appearance: var(--gf-local-appearance);
		background-color: var(--gf-local-bg-color);
		block-size: var(--gf-local-height);
		border-block-end: var(--gf-local-border-block-end);
		border-block-start: var(--gf-local-border-block-start);
		border-inline-end: var(--gf-local-border-inline-end);
		border-inline-start: var(--gf-local-border-inline-start);
		border-radius: var(--gf-local-radius);
		box-shadow: var(--gf-local-shadow);
		color: var(--gf-local-color);
		display: var(--gf-local-display);
		font-family: var(--gf-local-font-family);
		font-size: var(--gf-local-font-size);
		font-style: var(--gf-local-font-style);
		font-weight: var(--gf-local-font-weight);
		inline-size: var(--gf-local-width, 100%);
		letter-spacing: var(--gf-local-letter-spacing);
		line-height: var(--gf-local-line-height);
		margin-block: 0;
		margin-inline: 0;
		min-block-size: var(--gf-local-min-height);
		outline: var(--gf-local-outline);
		outline-offset: var(--gf-local-outline-offset);
		padding-block: var(--gf-local-padding-y);
		padding-inline: var(--gf-local-padding-x);
		transition: var(--gf-local-transition);
	}

	textarea {
		inline-size: 100%;
	}

	&[data-conditional-logic="hidden"] {
		display: none;
	}
}

.gfield_required {
	color: red;

	.gfield_required_text {
		@extend .screen-reader-text;
	}

	&::after {
		content: '*';
		display: inline-block;
		font-size: 16px;
		color: red;
		padding-left: 0.25ch;
		position: absolute;
	}
}

.hidden_label:not(.gfield--type-checkbox) label {
	@extend .screen-reader-text;
}

.hidden_label.gfield--type-checkbox legend {
	@extend .screen-reader-text;
}

.gfield_description {
	display: block;
	margin-bottom: var(--gf-local-label-gap);
}


.gfield_label,
.gform-field-label {
	margin-bottom: var(--gf-local-label-gap);
	display: inline-block;
}


.gform-grid-row {
	display: flex;
	flex-flow: row wrap;
	gap: var(--gf-local-row-gap) var(--gf-local-column-gap);
}

.gform-grid-col {
	flex: none;
	inline-size: 100%;

	&--size-auto {

		@include screenUp('tablet-portrait') {
			flex: 1 1 0%;
		}
	}
}

.ginput_complex {}

.ginput_container {}

.gform_footer {
	padding-top: 16px;
	display: flex;
	flex-direction: row;
	justify-content: end;
}

.gform_button {
	--_text-color: var(--color-white);
	@extend .btn--featured;
}


.gchoice {
	display: flex;
	flex-direction: row;
	justify-content: start;
	align-items: center;
	gap: 1rem;
	cursor: pointer;

	label {
		margin: 0;
		cursor: pointer;
	}
}

.gfield.gfield--type-checkbox .gfield-choice-input {

	background-size: cover;
	background-repeat: no-repeat;
	height: 16px;
	width: 16px;
	display: inline-block;
	cursor: pointer;

	&:hover,
	&:checked {
		background-image: url("data:image/svg+xml,%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%20viewBox%3D%220%200%2014%2014%22%20style%3D%22enable-background%3Anew%200%200%2014%2014%3B%22%20xml%3Aspace%3D%22preserve%22%3E%3Cstyle%20type%3D%22text/css%22%3E.st0%7Bfill%3A%23A36C4D%3B%7D%3C/style%3E%3Cg%3E%3Cg%3E%3Cpath%20class%3D%22st0%22%20d%3D%22M11.5%2C2.5l0.2%2C0.3c-1%2C0.7-2.1%2C1.9-3.3%2C3.4s-2.1%2C3-2.7%2C4.3l-0.5%2C0.3c-0.4%2C0.3-0.7%2C0.5-0.9%2C0.6c-0.1-0.2-0.2-0.6-0.4-1.1L3.8%2C10C3.5%2C9.4%2C3.3%2C8.9%2C3%2C8.6C2.8%2C8.3%2C2.6%2C8.1%2C2.3%2C8c0.5-0.5%2C0.9-0.8%2C1.4-0.8c0.4%2C0%2C0.7%2C0.5%2C1.2%2C1.4L5%2C9.1c0.8-1.3%2C1.8-2.6%2C3-3.8S10.3%2C3.2%2C11.5%2C2.5z%22/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
	}
}