:root {
	--swiper-theme-color: var(--color-feature);
	--swiper-pagination-color: var(--color-feature);
	--swiper-pagination-bottom: 16px;
	--swiper-pagination-top: auto;
	--swiper-pagination-bullet-border: none;

	--swiper-pagination-bullet-size: 0;
	--swiper-pagination-bullet-width: 0.5rem;
	--swiper-pagination-bullet-height: 0.5rem;
	--swiper-pagination-bullet-border-radius: 100%;
	--swiper-pagination-bullet-inactive-color: transparent;
	--swiper-pagination-bullet-inactive-opacity: 1;
	--swiper-pagination-bullet-opacity: 1;
	--swiper-pagination-bullet-horizontal-gap: 0.25rem;
	--swiper-pagination-bullet-vertical-gap: 2rem;
	--swiper-pagination-vertical-padding: 2rem;
	--swiper-pagination-button-background: var(--color-feature);
	--swiper-pagination-button-background-hover: var(--color-feature);
	--swiper-pagination-button-svg-fill: var(--color-black);
}

.swiper-pagination-bullet {
	border: 1px solid var(--color-feature);
}

.swiper-slide[data-transition="scale-x"] {
	.media-container {
		transform: scaleX(0);
		opacity: 0;
		transition: all 1s var(--ease), opacity 500ms var(--ease);
	}
}

.swiper-slide[data-transition="scale-x"].swiper-slide-active {
	.media-container {
		transform: scaleX(1);
		opacity: 1;
		transition: all 2s var(--ease), opacity 3s var(--ease);
	}
}