:root {
	--graphics-lockup-z-index: 2;
	--graphic-arch-left: 6.8%;
	--graphic-arch-width: 60%;
}

.graphics-lockup {
	margin-block: auto;
	position: relative;
	z-index: var(--_graphics-lockup-z-index, var(--graphics-lockup-z-index));
}

.garaphics-lockup--center {
	--_graphic-arch-left: 20%;
}

.graphic-arch {
	color: var(--color-feature);
	position: absolute;
	top: 50%;
	// right: 25%;
	left: var(--_graphic-arch-left, var(--graphic-arch-left));
	transform: translateY(-50%);
	width: var(--_graphic-arch-width, var(--graphic-arch-width));
	height: auto;
}

.m-text-image-collage[data-layout="left"] {
	--_graphic-arch-left: 20%;
}