@mixin screenReaderText {
	border: 0;
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	pointer-events: none;
	width: 1px;
	word-wrap: normal !important;
}

.screen-reader-text {
	@include screenReaderText;
}

.skip-to-link:not(:focus) {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px !important;
	overflow: hidden;
	padding: 0;
	position: absolute !important;
	width: 1px;
}

.skip-to-link {
	position: fixed;
	top: 10px;
	left: 10px;
	color: #fff;
	background: #000;
	outline: none;
	padding: 10px 16px;
	transition: background .15s ease-in-out;
	z-index: 9999;
}